h1{
    font-size: 72px;
background-image: -webkit-gradient(
linear,
left top,
right top,
color-stop(0.03, rgb(7, 85, 24)),
color-stop(0.76, rgb(219, 52, 102))
);
/* -webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}